<section class="content">  
  <div class="row">
    <div class="col-xs-12">
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t('actions.edit') %> Hook</h3>
        </div>

        <%= render 'form', url: hook_path(id: @hook.id) %>
      </div>
    </div>
  </div>
</section>
